:root {
  --font-family: 'Rubik', 'Arial';
  --grey: #3c5568;
  --white: #fff;
}

.section-container {
  display: flex;
  flex-direction: column;
  margin-inline: var(--white-space);
  --card-bg: var(--dark-grey);
  background-color: var(--black);
}

.stars-1 {
  position: relative;
  right: 50%;
  transform: translateX(50%);
  top: -10px;
  background-image: url("../../../assests/SVG/stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 170px;
  height: 70px;
  z-index: 1;
}

.sortiesCard {
  border-bottom: 1px solid var(--border-color);
  z-index: 5;
}

.quiz-text-div {
  color: var(--white);
  background-color: #0b1924;
  margin-top: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-btn {
  color: var(--white);
  background-color: var(--grey);
  font-family: var(--font-family);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1rem;
  margin:1rem 3rem;
  padding: 1rem;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background-color;
}

.quiz-btn:hover {
  background-color: transparent;
  transition: 0.3s;
  transition-property: background-color;
}

@media screen and (min-width: 850px) {
  .sortiesCard {
    width: fit-content;
    max-width: 600px;
  }

  .stars-1 {
    position: absolute;
    height: 170px;
  }
}