.opening-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: visible;
  text-align: center;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin-inline: auto; */
  z-index: 1;
  margin-bottom: 340px;
}

.header > * {
  /* align-self: center; */
  margin-inline: var(--white-space);
  /* max-width: 250px; */
}

.logo {
  z-index: 100;
  position: relative;
  width: 70px;
  height: 70px;
  align-self: center;
  margin-top: 10px;
  background-image: url("../../assests/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.figure {
  position: absolute;
  width: 100vw;
  top: 0;
  opacity: 0.7;
  height: 650px;
}

.hero {
  position: relative;
  top: 0px;
  height: 100%;
  background-image: url(../../assests/SVG/bg-3.svg);
  background-size: 600px;
  background-position-y: 38%;
  background-position-x: -30px;
  background-repeat: no-repeat;
}

.social-links {
  margin-top: 1.5rem;
  padding-inline: var(--white-space);
  margin-bottom: 1.5rem;
}

.links-flex {
  display: inline-block;
  gap: 1rem;
}

.links-flex > *:not(:last-child) {
  margin-left: 1rem;
}

.welcome {
  color: var(--white);
  font-size: var(--text-size);
  font-weight: 200;
  line-height: 1.7rem;
}

.welcomeSection {
  grid-row: 3;
  position: relative;
  align-self: center;
  justify-self: end;
  max-width: 600px;
  padding-inline: var(--white-space);
}

@media screen and (max-width: 300px) {
  .header {
    margin-bottom: 300px;
  }
}

/* @media screen and (max-height: 750px) {
  .hero {
    background-size: 450px;
    background-position-y: 30%;
  }
} */

@media screen and (min-width: 650px) {
  .header {
    margin-bottom: 540px;
  }
  .hero {
    background-size: 900px;
    background-position-y: 40%;
    height: 750px;
  }
  .welcomeSection {
    align-self: center;
    justify-content: center;
    max-width: 850px;
    width: 90vw;
  }
  .welcomeSection {
    align-self: center;
    justify-content: center;
    max-width: 850px;
    width: 90vw;
  }
}

@media screen and (min-width: 850px) {
  .header {
    text-align: right;
    margin-bottom: 0px;
  }
  .opening-title {
    margin-top: 0px;
    text-align: right;
  }
  .welcomeSection {
    width: 50vw;
  }

  .logo {
    background-size: contain;
    position: relative;
    width: 70px;
    height: x;
    background-position-x: 200%;
    background-size: cover;
    align-self: flex-start;
  }

  .welcomeSection {
    align-self: flex-start;
    max-width: 600px;
    width: 60vw;
  }

  .opening-container {
    text-align: right;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-size: 1350px;
    background-position-y: 47%;
  }

  .header {
    text-align: right;
  }
}
