.info-page {
  background-color: var(--black);
  display: grid;
  overflow: hidden;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  min-height: 100vh;
}


.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
}


@media screen and (min-width: 650px) {
  .info-page {
    grid-template-rows: auto auto auto;
  }
}

@media screen and (min-width: 850px) {
  .info-page {
    grid-template-rows: auto auto auto;
  }
}
