.stars-1 {
  position: absolute;
  right: 76%;
  transform: translateX(50%);
  top: -150px;
  background-image: url("../../../assests/SVG/stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 170px;
  height: 70px;
  z-index: 0;
}

.footer {
  min-height: 80px;
  height: fit-content;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 12px;
  background-color: var(--dark-grey);
}

.text {
  color: var(--white);
  font-weight: 200;
  margin-right: 60px;
}

.facebook-url {
  background-image: url("../../../assests/SVG/facebook.svg");
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  border-color: var(--dark-grey);
}

.phone-url {
  background-image: url("../../../assests/SVG/phone.svg");
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
}
.whatsapp-url {
  background-image: url("../../../assests/SVG/whatsapp.svg");
  width: 2em;
  height: 2em;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-continaer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--cta-color);
  cursor: pointer;
  user-select: none;
  margin-inline: 30px;
  padding-top: 12px;
  margin-block: 10px;
}

.social-container {
  display: flex;
  margin: 12px;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .contact-continaer {
    padding-inline: 40vw;
  }
}
/* @media screen and (min-width: 850px) {
  .footer {
    flex-direction: row;
    align-content: center;
  }
} */
