.btn {
  cursor: pointer;
  position: relative;
  width: 3.5rem;
  aspect-ratio: 1;
  border: none;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1.7rem;
  border-radius: 6px;
  background-color: var(--dark-grey);
  transition: all 200ms;
}

.btn:hover {
  background-color: var(--white);
}