:root {
  --font-family: 'Rubik', 'Arial';
  --grey: #3c5568;
  --white: #fff;
  --text-size: 1.1rem;
  --question-size: 1.7rem;
}

.article-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  --border-radius: 20px;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  height: fit-content;
  min-height: calc(100vh - 90px);
  width: 100%;
  scrollbar-gutter: auto both-edges;
  overflow-y: overlay;
  direction: rtl;
}

.close-btn {
  cursor: pointer;
  content: "";
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../../assests/close.svg");
  aspect-ratio: 1;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* quiz css */

.question-text {
  width: 100%;
  padding: 5% 10%;
  text-align: center;
  color: var(--white);
    font-size: var(--question-size);
    font-weight: 200;
    line-height: 1.7rem;
}

.answers-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: black;
  font-size: var(--question-size);
  font-weight: 600;
  width: 35%;
  min-height: fit-content;
  height: 10rem;
  margin: 3.5%;
  border-radius: 1rem;
  cursor: pointer;
}

.answer:hover {
  background-color: #c3c5d8;
  transition: 0.3s;
  transition-property: backgroung-color;
}

.result-container {
  color: var(--white);
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-title {
  width: 100%;
  text-align: center;
  font-size: var(--question-size);
  font-weight: 600;
}

.result-text {
  width: 100%;
  text-align: right;
  font-size: var(--text-size);
  font-weight: 400;
  padding: 1rem 3rem;
}

.replay-btn {
  color: var(--white);
  background-color: var(--grey);
  font-family: var(--font-family);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1rem;
  margin:1rem 3rem;
  padding: 1rem;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background-color;
}

.replay-btn:hover {
  background-color: transparent;
  transition: 0.3s;
  transition-property: background-color;
}

@media screen and (min-width: 300px) {
  .replay-btn {
    line-height: 1rem;
  }
}